@import-normalize;
@import 'todolist.css';

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(to right,
    hsl(25,70%,60%),hsl(50,100%,60%));

}

.todo--header{
    margin: 0;
    padding: .1em;
    color: hsl(0,5%,75%);
}

.todo--container{
    background-color: hsl(0, 0%, 0%);
    width: 450px;
    border: 1px solid hsl(35,100%,60%) ;
    padding: 1rem;
    min-height: 500px;
    margin: 50px auto;
    border-radius: .5rem;
} 

.todo--form_input{
    outline: none;
    border: none;
    background-color: hsl(0,5%,75%);
    border:1px solid hsl(0, 0%, 0%);
    font-size: 18px;
    width: 200px;
    height: 40px;
    padding: 0 20px;
    margin: 20px;
    border-radius:.5rem;
}

.todo--form_input:focus{
    box-shadow: 0 0 15px 0 hsl(50,100%,60%);
}

.todo--form_input::placeholder{
    text-align: center;
}


.todo--form_input_edit{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 18px;
    width: 200px;
    height: 40px;
    padding: 0 20px;
    margin: 20px;
    border-radius:.5rem;
}

.button{
    border: none;
    outline: none;
    height: 40px;
    width: 80px;
    padding: .5em 1em;
    background-color: hsl(0,0%,0%);
    border: 2px solid hsl(0,5%,75%);
    border-radius: .5em;
    color: hsl(0,5%,75%);
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    
}

.button-round{
   width:50px;
   border-radius: 50px;
    
}

.button:hover{
    background-color:  hsl(50,100%,60%);
    box-shadow: 0 0 5px 0 hsl(50,100%,60%);
    color: black;
}